.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1357px;
  height: 1674px;
  overflow: hidden;
}

.section_2 {
  width: 795px;
  height: 93px;
  margin: 15px 0 0 37px;
}

.image_1 {
  width: 85px;
  height: 77px;
  margin-top: 16px;
}

.text-wrapper_1 {
  width: 648px;
  height: 93px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 93px;
}

.text_1 {
  width: 648px;
  height: 93px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 64px;
  font-family: Source Han Sans-Regular;
  text-align: center;
  white-space: nowrap;
  line-height: 93px;
}

.text_2 {
  width: 648px;
  height: 93px;
  overflow-wrap: break-word;
  color: rgba(0, 93, 255, 1);
  font-size: 64px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 93px;
}

.section_3 {
  width: 1200px;
  height: 255px;
  margin: 73px 0 0 37px;
}

.image_2 {
  width: 447px;
  height: 255px;
}

.block_1 {
  width: 576px;
  height: 190px;
  margin-top: 13px;
}

.text_15 {
  text-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    282deg,
    rgba(12, 90, 255, 1) 19.285715%,
    rgba(0, 60, 255, 0) 100%
  );
  width: 576px;
  height: 75px;
  overflow-wrap: break-word;
  color: ;
  font-size: 64px;
  font-family: HarmonyOS Sans-Black;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 75px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button_1 {
  background-color: rgba(255, 213, 1, 1);
  border-radius: 32px;
  height: 84px;
  width: 269px;
  margin: 31px 0 0 182px;
}

.text_4 {
  width: 224px;
  height: 43px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 43px;
  margin: 17px 0 0 23px;
}

.section_4 {
  width: 1252px;
  height: 491px;
  margin: 65px 0 0 60px;
}

.group_4 {
  background-color: rgba(216, 228, 255, 1);
  border-radius: 35px;
  width: 487px;
  height: 491px;
}

.box_2 {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(23, 23, 26, 1);
  border-radius: 16px;
  height: 233px;
  width: 447px;
  margin: 26px 0 0 20px;
}

.box_3 {
  height: 214px;
  background: url(./img/MasterDDSSlicePNGf94c9af858d54c7d51bcc8eb760cd761.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 431px;
  margin: 10px 0 0 8px;
}

.image-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  height: 67px;
  width: 67px;
  margin: 61px 0 0 193px;
}

.label_1 {
  width: 45px;
  height: 46px;
  margin: 11px 0 0 11px;
}

.text-group_2 {
  width: 435px;
  height: 187px;
  margin: 16px 0 29px 31px;
}

.text_5 {
  width: 326px;
  height: 59px;
  overflow-wrap: break-word;
  color: rgba(102, 0, 255, 1);
  font-size: 36px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 52px;
}

.text_6 {
  width: 435px;
  height: 135px;
  overflow-wrap: break-word;
  color: rgba(61, 61, 61, 1);
  font-size: 36px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 52px;
  margin-top: -7px;
}

.group_5 {
  background-image: linear-gradient(
    180deg,
    rgba(206, 180, 228, 1) 0,
    rgba(239, 180, 186, 1) 41.78082%,
    rgba(252, 202, 156, 1) 100%
  );
  border-radius: 35px;
  width: 726px;
  height: 491px;
}

.section_5 {
  width: 703px;
  height: 233px;
  margin: 26px 0 0 23px;
}

.box_5 {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 233px;
  width: 447px;
}

.box_6 {
  height: 213px;
  background: url(./img/MasterDDSSlicePNGd5e7751a1cec195386ff78d2c779bfda.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 430px;
  margin: 7px 0 0 7px;
}

.image-wrapper_2 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 6px;
  height: 67px;
  width: 75px;
  margin: 64px 0 0 179px;
}

.image_3 {
  width: 56px;
  height: 48px;
  margin: 10px 0 0 10px;
}

.text_7 {
  width: 197px;
  height: 222px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 72px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 104px;
  margin-top: 11px;
}

.text_8 {
  width: 682px;
  height: 187px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.85098);
  font-size: 64px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 93px;
  margin: 16px 0 29px 38px;
}

.group_6 {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 68px;
  width: 1246px;
  height: 504px;
  margin: 36px 0 0 60px;
}

.section_6 {
  width: 564px;
  height: 329px;
  margin: 45px 0 0 31px;
}

.text-wrapper_2 {
  width: 563px;
  height: 77px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 52px;
}

.text_9 {
  width: 563px;
  height: 77px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 52px;
}

.text_10 {
  width: 563px;
  height: 77px;
  overflow-wrap: break-word;
  color: rgba(0, 93, 255, 1);
  font-size: 36px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 52px;
}

.text-wrapper_4 {
  width: 533px;
  height: 93px;
  margin: 16px 0 0 31px;
}

.text_11 {
  width: 128px;
  height: 93px;
  overflow-wrap: break-word;
  color: rgba(102, 0, 255, 1);
  font-size: 64px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 93px;
}

.text_12 {
  width: 195px;
  height: 93px;
  overflow-wrap: break-word;
  color: rgba(102, 0, 255, 1);
  font-size: 64px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 93px;
  margin-left: 59px;
}

.text_13 {
  width: 128px;
  height: 93px;
  overflow-wrap: break-word;
  color: rgba(102, 0, 255, 1);
  font-size: 64px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 93px;
  margin-left: 23px;
}

.text_14 {
  width: 448px;
  height: 93px;
  overflow-wrap: break-word;
  color: rgba(255, 217, 25, 1);
  font-size: 64px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 93px;
  margin: 50px 0 0 70px;
}

.image_4 {
  width: 447px;
  height: 255px;
  margin: 87px 46px 0 158px;
}

.paragraph_1 {
  width: 296px;
  height: 89px;
  overflow-wrap: break-word;
  color: rgba(61, 61, 61, 1);
  font-size: 14px;
  font-family: Source Han Sans-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 20px;
  margin: 53px 0 0 1092px;
}
